<div class="container">
  <h1>You have joined {{game}}</h1>

  <a href="/" class="button button-danger">Leave</a>

  <p class="text-center">
    Waiting for players to join
  </p>

    <div class="loader">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

  <h3>Players</h3>

  <ul class="player-list">
    {{#each teams}}
      {{#ifCond this.name '===' ../currentTeam}}
        <li class="highlighted">
          {{this.name}} (you)
        </li>
      {{else}}
        <li>
          {{this.name}}
        </li>
      {{/ifCond}}
    {{/each}}
  </ul>

</div>
<script>
  var teamName = "{{currentTeam}}";
</script>
