<div class="header">
  <div class="text-center">
    <h1>Results</h1>
    <h4>You scored {{totalCorrect}} out of {{totalQuestions}}</h4>
  </div>
</div>

{{#each answers}}
  <h2>{{this.question}}</h2>
  <h3>Your answer: {{this.answer}}</h3>
  <p>
    {{#if this.correct}}
      You got it right
    {{else}}
      You got it wrong.
      Correct answer was {{this.correctAnswer}}.
    {{/if}}
  </p>
{{/each}}
